{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}

{% block sub_content %}





<div class="container">

  <div class="row">
    <div class="col-md-4">
      
  <div id="sidebar" class="my-5">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="dashboard.php">Dashboard</a>
        </li>
        <li class="list-group-item">
            <a href="createPost.php">New Post</a>
        </li>
        <li class="list-group-item">
            <a href="posts.php">My Posts</a>
        </li>
        <li class="list-group-item">
            <a href="bookmarks.php">Bookmarks</a>
        </li>
        <li class="list-group-item">
            <a href="comments.php">Comments</a>
        </li>
        <li class="list-group-item">
            <a href="edit-profile.php">Edit Profile</a>
        </li>
        <li class="list-group-item">
            <a href="changepassword/{{ user['user_id'] }}">Change Password</a>
        </li>
        <li class="list-group-item">
            <a href="/logout">Logout</a>
        </li>
    </ul>
  </div>
  
    </div>
	
	
	
  <div class="col-md-8">

<br> <br>
<form action="" method="POST" enctype="multipart/form-data">
       

            
            <div class=" ">
                <h5 class="my-3">Old Password </h5>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Enter Your Old Password</label>
                        <input type="password" name="old" id="title" class="form-control" value="">
                        <div class="invalid-feedback">
                        </div>
                    </div>


        <div class=" ">
                <h5 class="my-3">Password Change</h5>
               
                    </div>
                    <div class="form-group">
                        <label for="title">Enter Your Password</label>
                        <input type="password" name="password" id="title" class="form-control" value="" required>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                        <label for="title">Enter Your confirm Password</label>
                        <input type="password" name="confirm_password" id="title" class="form-control" value="" required>
                        <div class="invalid-feedback">
                        </div>
                        <br>
                        <input type="submit" class="btn btn-primary" value="Update Password">
                    </div>
                        

               

                    
                </form>
            </div>
        </div>
    </div>

</div>



</div>




</form>
  
  </div>
  
  </div>
  
  </div>
  





{% endblock %}















