{% extends 'base.html' %}
{% block title %} Edit Blog {% endblock %}

{% block sub_content %}
<div class="text-center">
  <h1> Edit Blog </h1>
</div>
<form class="form-horizontal" method="POST">
  <div class="form-group">
    <label class="control-label col-sm-2">Name</label>
    <div class="col-sm-5">
      <input type="text" name="name" value="{{ contact_form['name'] }}"> </input>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Email</label>
    <div class="col-sm-5">
      <input type="text" name="email" value="{{ contact_form['email'] }}"> </input>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Subject</label>
    <div class="col-sm-5">
      <input type="text" name="subject" value="{{ contact_form['subject'] }}"> </input>
    </div>
  </div>
    
  <div class="form-group">
    <label class="control-label col-sm-2">Message</label>
    <div class="col-sm-5">
      <textarea id="message" class="form-control" rows="9" cols="25" name="msg" > {{ contact_form['msg'] }} </textarea>
    </div>
  </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="Submit" class="btn btn-primary" >Update </button>
      </div>
    </div>

</form>
{% endblock %}















