{% extends 'base.html' %}
{% block title %} Edit Blog {% endblock %}

{% block sub_content %}





<div class="container">

  
<div class="row">
    <div class="col-md-4">
      
  <div id="sidebar" class="my-5">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('write_blog') }}">New Post</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('view_blogs') }}">My Posts</a>
        </li>
     
       
        </li>
        <li class="list-group-item">
            <a href="/logout">Logout</a>
        </li>
    </ul>
  </div>
  
    </div>
	
	
	
  <div class="col-md-8">
        
            <div class=" ">
                <h5 class="my-3">Edit Post</h5>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Enter Your Post Title</label>
                        <input type="text" name="title" id="title" class="form-control" value="{{ blog_form['title'] }}">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tiny-mce-post-body">Enter Your Post Body</label>
                        <textarea name="body" id="tiny-mce-post-body"  rows="9" cols="20" class="form-control ">{{ blog_form['body'] }}</textarea>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    
                        
                    <input type="submit" class="btn btn-primary" value="Update Post">
                </form>
            </div>
        </div>
    </div>

</div>



</div>




</form>
  
  </div>
  
  </div>
  
  </div>
  





{% endblock %}















