{% extends 'base.html' %}
{% block title %} Forgot {% endblock %}

{% block sub_content %}

<div class="container">
        
        <h1 class="text-center">Forgot Password </h1>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <form action="" method="POST">
              
              <label > Email:</label>
              <input type="email" name="email" class="form-control" placeholder="Enter your email " required>
              
              

              <button type="submit" class="btn btn-primary mt-3">Submit</button>

            </form>
            <br>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>



{% endblock %}   
















