{% extends 'base.html' %}
{% block title %} Register {% endblock %}

{% block sub_content %}

<div class="container">
        <h1 class="text-center">Register</h1>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <form action="" method="POST">
              <label >Firstname:</label>
              <input type="text" name="first_name" class="form-control" placeholder="Enter your firsname ">
			  <label >Lastname:</label>
              <input type="text" name="last_name" class="form-control" placeholder="Enter your lastname ">
              <label > Username:</label>
              <input type="text" name="username" class="form-control" placeholder="Enter your username " required>
              <label >Email:</label>
              <input type="email" name="email" class="form-control" placeholder="Enter your email " required>
              <label >Password:</label>
              <input type="password" name="password" class="form-control" placeholder="Enter your password " required>
              <label >Repeat Password:</label>
              <input type="password" name="confirm_password" class="form-control" placeholder="Enter your repeat password" required>

              <button type="submit" class="btn btn-primary mt-3">Register</button>

            </form>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>



{% endblock %}   
















