{% extends 'base.html' %}
{% block title %} Reset Password {% endblock %}

{% block sub_content %}




<div class="container">
    <h1 class="text-center"> Upadte Password </h1>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <form action="" method="POST">
                <label class="" >  Email  code:</label>
                <input type="text"  name="verify" class="form-control" placeholder="Enter your Code " required>

          <br>
          <label > Password:</label>
          <input type="password" name="password" class="form-control" placeholder="Enter your password " required>
          
          
          <label > confirm password:</label>
          <input type="password" name="confirm_password" class="form-control" placeholder="Enter your password " required>
          

          <button type="submit" class="btn btn-primary mt-3">Uapdate Password</button>

        </form>
        <br>

    </div>
    <div class="col-md-2"></div>
</div>
</div>






{% endblock %}   



<!--  


<div class="container">
        <h1 class="text-center"> Upadte Password </h1>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <form action="" method="POST">
                    <label class="" >  From email verify code:</label>
                    <input type="text"  name="verify" class="form-control" placeholder="Enter your Verify Code " required>

              <br>
              <label > Password:</label>
              <input type="password" name="password" class="form-control" placeholder="Enter your password " required>
              
              
              <label > confirm password:</label>
              <input type="password" name="confirm_password" class="form-control" placeholder="Enter your password " required>
              

              <button type="submit" class="btn btn-primary mt-3">Uapdate Password</button>

            </form>
            <br>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>


-->>







